<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="showAll">
        <form action="/" method="get">
            <input type="submit" value="Show All Tasks">
        </form>
    </div>
    <div class="test">
        {% for task in tasks %}
            <div>
                <h3>{{ task.subject }}</h3>
                <p>ID: {{ task.id }}</p>
                <p>Category: {{ task.category }}</p>
                <p>Status: {{ task.status }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="specificTask">
        <form id="taskForm" method="GET" onsubmit="updateAction()">
            <label for="taskId">Task ID:</label>
            <input type="text" id="taskId" name="id" required><br><br>
            <input type="submit" value="Get Task">
        </form>
    </div>
    <br>
    <div>
        <form action="/tasks/add" method="post">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id"><br><br>
            
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject"><br><br>
            
            <label for="category">Category:</label>
            <input type="text" id="category" name="category"><br><br>
            
            <label for="status">Status:</label>
            <input type="text" id="status" name="status"><br><br>
            
            <input type="submit" value="Lägg till tasks">
        </form>
    </div>
    <script>
        function updateAction() {
            // Get the ID from the input field
            const taskId = document.getElementById('taskId').value;
            // Update the form's action to include the ID in the URL
            document.getElementById('taskForm').action = `/tasks/${taskId}`;
        }
    </script>
</body>
</html>